

###########################################
# Local Doxyfile Configs
##########################################

# Generate default config
    # doxygen -g config.file

# Generate default footer/header
    # doxygen -w html header.html footer.html stylesheet.css ../file.doxy 
    # doxygen -w latex header.tex footer.tex doxygen.sty <<config.file>>
    # doxygen -w rtf rtfstyle.cfg

# Generate Project Specifics
    # python3 -m peekextn --doxy

#######
## GLOBAL options
########
EXTRACT_ALL            = YES
FULL_PATH_NAMES        = YES
TAB_SIZE               = 4
CREATE_SUBDIRS         = YES

RECURSIVE = YES
SOURCE_BROWSER         = YES
INLINE_SOURCES         = YES
REFERENCED_BY_RELATION = YES
REFERENCES_LINK_SOURCE = YES
GENERATE_TREEVIEW      = YES
USE_INLINE_TREES       = YES
GENERATE_LATEX         = NO
MACRO_EXPANSION        = YES

########
## VERBOSITY OPTIONS
#########

GENERATE_HTML          = YES
HTML_OUTPUT            = html

########
### DOT Tool configuration
#########

HAVE_DOT               = YES
DOT_FONTSIZE           = 12
DOT_IMAGE_FORMAT       = jpg
DOT_GRAPH_MAX_NODES    = 50
DOT_CLEANUP            = NO
DOT_PATH               = 

CLASS_DIAGRAMS         = YES
CLASS_GRAPH            = YES
COLLABORATION_GRAPH    = YES
UML_LOOK               = YES
TEMPLATE_RELATIONS     = YES
INCLUDE_GRAPH          = YES
INCLUDED_BY_GRAPH      = YES
DIRECTORY_GRAPH        = YES
CALL_GRAPH             = YES
CALLER_GRAPH           = YES

########
# HEADER/FOOTER OPTIONS
#########

HTML_HEADER            = /home/evadkan/docs/doxy/template/myheader.html
HTML_FOOTER            = /home/evadkan/docs/doxy/template/myfooter.html
HTML_STYLESHEET        = /home/evadkan/docs/doxy/template/mystylesheet.css

########
# PROJECT OPTIONS
#########

PROJECT_NAME           = project
INPUT                  = .
EXCLUDE                = 
OUTPUT_DIRECTORY       = .

###########
## Project Specifics
##########

PREDEFINED = 
INCLUDE_PATH = 

