
###########################################
# Local Doxyfile Configs
##########################################

# Generate default config
    # doxygen -g config.file

# Generate default footer/header
    # doxygen -w html header.html footer.html stylesheet.css ../file.doxy 
    # doxygen -w latex header.tex footer.tex doxygen.sty <<config.file>>
    # doxygen -w rtf rtfstyle.cfg

# Generate Project Specifics
    # python3 -m peekextn --doxy

#######
## GLOBAL options
########
EXTRACT_ALL            = YES
FULL_PATH_NAMES        = NO
TAB_SIZE               = 4
CREATE_SUBDIRS         = YES

RECURSIVE              = YES
SOURCE_BROWSER         = NO
INLINE_SOURCES         = YES
REFERENCED_BY_RELATION = YES
REFERENCES_LINK_SOURCE = YES
GENERATE_TREEVIEW      = YES
USE_INLINE_TREES       = YES
GENERATE_LATEX         = NO
MACRO_EXPANSION        = YES

########
## VERBOSITY OPTIONS
#########

GENERATE_HTML          = YES
HTML_OUTPUT            = html

########
### DOT Tool configuration
#########

HAVE_DOT               = YES
DOT_FONTSIZE           = 12
DOT_IMAGE_FORMAT       = jpg
DOT_GRAPH_MAX_NODES    = 200
DOT_CLEANUP            = NO
DOT_PATH               = 

CLASS_DIAGRAMS         = YES
CLASS_GRAPH            = YES
COLLABORATION_GRAPH    = YES
UML_LOOK               = YES
TEMPLATE_RELATIONS     = YES
INCLUDE_GRAPH          = NO
INCLUDED_BY_GRAPH      = NO
DIRECTORY_GRAPH        = NO
CALL_GRAPH             = YES
CALLER_GRAPH           = YES
GRAPHICAL_HIERARCHY    = YES
########
# HEADER/FOOTER OPTIONS
#########

HTML_HEADER            = ${HOME}/docgen/doxy/template/myheader.html
HTML_FOOTER            = ${HOME}/docgen/doxy/template/myfooter.html
HTML_STYLESHEET        = ${HOME}/docgen/doxy/template/mystylesheet.css

########
# PROJECT OPTIONS
#########

PROJECT_NAME           = project
INPUT                  = .
OUTPUT_DIRECTORY       = .

EXCLUDE                = 

###########
## Project Specifics
##########

PREDEFINED = 
INCLUDE_PATH = 



